a:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: black;
}

body {
  font-family: 'Public Sans', sans-serif;
}

ul {
  list-style: none;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid $rh_green; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.loader-container {
  margin: auto; 
}

.loader {
  margin: auto; 
  margin-top: 25%; 
}

.reference {
  font-size: 10px; 
  padding: 5px;
  margin: 5px; 
}

.reference a {
  color: $rh_green
}