.main-out {
  display: flex;
  justify-content: flex-end;
  background-color: $rh_green;
  width: 100%; 
  text-align: center; 
  flex-wrap: wrap; 
}

.main-out-left, .main-out-right {
  display: flex;
  align-items: center;
  flex-wrap: wrap; 
}

.main-out .intro-pic {
  width: 100%; 
}

.main-out-left {
  width: 100%; 
}

.main-out h1 {
  font-weight: 700;
  font-size: 62px; 
  margin: 20px;
  padding: 20px; 
  width: 100%; 
}

.main-out p {
  font-size: 24px;
  font-weight: 300px; 
  line-height: 36px;  
  margin: 20px; 
  padding: 20px; 
  width: 100%;
}
