.main-side-bar {
  border: 1px solid red; 
  width: 200px;
}

.main-side-bar .side-bar-el {
  border: 1px solid red; 
  height: 400px;
}

.main-side-bar .side-bar-el li {
  border: 1px solid red; 
}

.main-news {
  border: 1px solid red; 
}

.main-news .news-item {
  border: 1px solid red; 
}

.main-news .news-item li {
  border: 1px solid red; 
}