.out-nav-bar, .in-nav-bar {
  display: flex;
  justify-content: space-between; 
}

.left-nav, .out-nav-links {
  display: flex; 
  align-items: center;
  margin-bottom: 0px; 
}

.left-nav ul, .out-nav-links ul {
  margin-bottom: 0px; 
}

.left-nav li, .out-nav-links a {
  padding: 5px 5px 0px 5px; 
  height: 30px; 
  width: 100px; 
  text-align: center;
  font-size: 20px;
  flex: start; 
}

.left-nav li {
  font-size: 16px; 
  font-weight: 200; 
  text-align: center; 
  margin-top: 10px; 
}

.left-nav li:nth-child(1) {
  padding: 0;
  margin: 0;
  height: 50px; 
  width: 200px; 
  margin-right: 10px; 
  
}

.out-nav-links {
  margin-left: 5px; 
}

.left-nav .logo {
  padding: 0;
  margin: 0;
}

.in-nav-bar .logo {
  margin: 0; 
  padding: 0; 
  width: 50px; 
  height: 200px; 
}

.left-nav img {
  background-color: white;
  padding: 0; 
  margin: 0; 
  height: 100%;
  width: 100%; 
}

.in-nav-bar img {
  height: 50px; 
  width: 200px; 
  background-color: white;
  padding: 0; 
  margin: 0; 
}

.out-nav-links .btn { 
  background-color: $rh_green;
  color: black;
  border-radius: 5px; 
  font-weight: bold; 
}

.out-nav-links .sign-in-btn {
  color: black;
  font-weight: 700; 
}

.out-nav-links .btn:hover {
  background-color: $rh_green3;
  color: white; 
  font-weight: 700;
}

.out-nav-links .sign-in-btn:hover {
  color: $rh_green3;
}

.left-nav {
  padding-left: 5px;
}

.in-nav-bar .btn {
  background-color: $rh_green;
  color: black;
  border-radius: 5px; 
  font-weight: bold;
  padding: 5px 5px 0px 5px;
  height: 30px;
  width: 100px;
  text-align: center;
  font-size: 20px;
  margin: auto; 
}

.in-nav-bar .btn:hover {
  background-color: $rh_green3;
  color: white; 
  font-weight: 700;
}

.in-nav-bar p {
  height: 100%; 
  width: 200px; 
}

.in-nav-bar {
  list-style: none; 
  height: 50px; 
}


// images can expand larger than their container 
// unless target specific children don't user carrot 