.sign-up-form {
  display: flex;
  justify-content: space-between;
  font-family: "DIN Pro", -apple-system, BlinkMacSystemFont, sans-serif;
  height: 100vh;  
}

.sign-up-pic, .form-component {
  align-items: center;
  margin-bottom: 0px; 
}

.sign-up-pic {
  width: 33%; 
  height: 100%; 
}

.sign-up-form img {
  width: 100%; 
  height: 40%; 
  margin-top: 30%;
}

.sign-up-form .form-component {
  width: 67%; 
  height: 100%; 
  align-content: center;
}

.sign-up-form .form-component h1 {
  text-align: center; 
}

.sign-up-form .form-component p {
  text-align: center;
  padding-bottom: 10px;
}

.sign-up-form .form-component h1 {
  font-weight: 300;
}

.sign-up-form .form-component p {
  font-weight: 100;
}

.sign-up-form .form-component .form-box {
    flex-wrap: wrap;
    width: 100%;
    align-content: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sign-up-form .form-component .form-box input { 
  margin: 5px; 
  padding: 5px; 
  width: 60%;
}

.sign-up-form .form-component form input {
  border-radius: 5px;
  border: none; 
  background-color: whitesmoke;
  width: 100%; 
  height: 20px; 
  border: 1px solid transparent; 
}

.sign-up-form .form-component form .btn {
  color: white; 
  background-color: $rh_green;
  border-radius: 5px;
  width: 62%;
  height: 40px; 
  font-size: 15px; 
}

.sign-up-form .form-component form .btn:hover {
  color: white; 
  background-color: $rh_green3;
}

.sign-up-form .form-component form input:hover {
  border: 1px solid lightgray; 
  background-color: white;
}

.sign-up-form .form-component form input:focus {
  border: 1px solid $rh_green; 
  background-color: white;
  outline: 0; 
}

.sign-up-form .errors-pop-up { 
   // background-color: #ff9999;
  outline: 0; 
  width: 80%;
  color: #ff9999; 
  border-radius: 5px;
  // border: 1px solid #ff9999;
  // background: lightgray;
  font-size: 20px;
  text-align: center;
}